section
	.evaluation-form
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.steps
						h3 Free case evaluation
						p Find out if you have a potential case in 5 easy questions
						ul
							li.active
								a(href="#step-one") STEP 1
							li
								a(href="#step-two") STEP 2
							li
								a(href="#step-three") STEP 3
							li
								a(href="#step-four") STEP 4
							li
								a(href="#step-five") STEP 5
						form
							#step-one
								.select
									h4 How were you injured?
									select
										option(value="") Select
										option(value="") Select-1
										option(value="") Select-2
										option(value="") Select-3
										option(value="") Select-4
										option(value="") Select-5
										option(value="") Select-6
								a.button(href="#") Next
							#step-two
							#step-three
							#step-four
							#step-five
