footer
	.container-fluid
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.left-block
					form
						h3 Contact GSK Law Firm
						.input
							input(type="text" placeholder="Name")
						.input
							input(type="email" placeholder="Email")
						.input
							input(type="text" placeholder="Subject")
						.textarea
							textarea(placeholder="How may we help you?")
						.input
							input.button(type="submit" value="Request Consultation")
				.right-block
					#map
	.copyright
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					ul
						li
							a(href="#advantages") advantages
						li
							a(href="#form") free case evaluation
						li
							a(href="#reviews") testimonials
						li
							a(href="#about-us") about the firm