header
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				a.logo(href="/")
					img(src="img/logo.svg", alt="Logo")
				h2 Accident Benefits Lawyers
					span “You Don’t Pay Unless We Win”
				a.button.icon-phone(href="tel:416-661-0001") 416-661-0001

