doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title GSK
		link(href="css/main.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet")
		//(if lt IE 9)
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//(endif)
	body
		include layout/header.pug
		include layout/thank-content.pug

		script(src="js/build.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSqq1pexHGvlSEj3vv8Uu957SZGcIYZg&amp;")
		script(src="js/map.js")
		script(src="js/ajax.js")
